/node_modules
/public/storage
/storage/*.key
/vendor
/resources/vendor
/resources/views/vendor
/.idea
Homestead.json
Homestead.yaml
.env
.env.example
composer.lock
.tags
.tags_sorted_by_file
_ide_helper.php
.phpintel
.DS_Store
